body {
    background-color: #aaaaaa;
	width: 1000px;
	margin: auto;
	}
.container {
    background-color: #00D8CB;
	width: 90%;
    margin: 10px;
	}
.container .header {
    background-color: #ff00ff;
	height: 190px;
	margin: 10px;
	}
h1 {
	position: absolute;
	top: 4%;
	margin: 10px;
	color: #ffffff;	
	font-size: 52px;
	font-family: Calibri;
	}
.container .inner-container {
    background-color: #ffffa0;
	width: 90%;
	height: 500px;
	margin: auto;
	}
.container .inner-container .aside {
    background-color: #55E198;
	width: 20%;
	height: 400px;
	}
.container .footer {
    background-color: #A9E198;
	width: 95%;
	height: 50px;
	}
